.cooking {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.cooking-body {
  overflow-y: auto;
  padding-right: 17px;
}

.cooking-header {
  margin: 3px;
  color: #1C6758;
  font-weight: 700;
}
