.cooking-body-item-quantity {
  display: flex;
  align-items: center;
  padding: 10px;
}

.cooking-body-item-remove {
  align-self: center;
}
.cooking-body-item-remove:hover {
  cursor: pointer;
  height: 60px;
}
