<div class="order-wrap order" >

  <!--      order header-->
  <div class="order-header">
    <h2 class="text-center text-uppercase text-decoration-underline">order</h2>
  </div>

  <!--      order body-->
  <div class="order-body">
    <!--        order-body-->
    <ul >
      <li >
        <!--        menu list item-->
        <div class="order-body-item">
          <!--          img-->
          <div class="order-body-item-img">
            <img src="assets/images/pizza--v1.png">
          </div>
          <!--          menu description-->
          <div class="order-body-item-name">
            <span>Pizza</span>
          </div>
          <!--          quantity-->
          <div class="order-body-item-quantity">
            <span>x1</span>
          </div>

          <!--              remove-->
          <div class="order-body-item-remove">
            <img src="assets/images/delete-forever.png" height="50">

          </div>


        </div>
      </li>
      <li >
        <!--        menu list item-->
        <div class="order-body-item">
          <!--          img-->
          <div class="order-body-item-img">
            <img src="assets/images/pizza--v1.png">
          </div>
          <!--          menu description-->
          <div class="order-body-item-name">
            <span>Pizza</span>
          </div>
          <!--          quantity-->
          <div class="order-body-item-quantity">
            <span>x1</span>
          </div>

          <!--              remove-->
          <div class="order-body-item-remove">
            <img src="assets/images/delete-forever.png" height="50">

          </div>


        </div>
      </li>
      <li >
        <!--        menu list item-->
        <div class="order-body-item">
          <!--          img-->
          <div class="order-body-item-img">
            <img src="assets/images/pizza--v1.png">
          </div>
          <!--          menu description-->
          <div class="order-body-item-name">
            <span>Pizza</span>
          </div>
          <!--          quantity-->
          <div class="order-body-item-quantity">
            <span>x1</span>
          </div>

          <!--              remove-->
          <div class="order-body-item-remove">
            <img src="assets/images/delete-forever.png" height="50">

          </div>


        </div>
      </li>
      <li >
        <!--        menu list item-->
        <div class="order-body-item">
          <!--          img-->
          <div class="order-body-item-img">
            <img src="assets/images/pizza--v1.png">
          </div>
          <!--          menu description-->
          <div class="order-body-item-name">
            <span>Pizza</span>
          </div>
          <!--          quantity-->
          <div class="order-body-item-quantity">
            <span>x1</span>
          </div>

          <!--              remove-->
          <div class="order-body-item-remove">
            <img src="assets/images/delete-forever.png" height="50">

          </div>


        </div>
      </li>
      <li >
        <!--        menu list item-->
        <div class="order-body-item">
          <!--          img-->
          <div class="order-body-item-img">
            <img src="assets/images/pizza--v1.png">
          </div>
          <!--          menu description-->
          <div class="order-body-item-name">
            <span>Pizza</span>
          </div>
          <!--          quantity-->
          <div class="order-body-item-quantity">
            <span>x1</span>
          </div>

          <!--              remove-->
          <div class="order-body-item-remove">
            <img src="assets/images/delete-forever.png" height="50">

          </div>


        </div>
      </li>
      <li >
        <!--        menu list item-->
        <div class="order-body-item">
          <!--          img-->
          <div class="order-body-item-img">
            <img src="assets/images/pizza--v1.png">
          </div>
          <!--          menu description-->
          <div class="order-body-item-name">
            <span>Pizza</span>
          </div>
          <!--          quantity-->
          <div class="order-body-item-quantity">
            <span>x1</span>
          </div>

          <!--              remove-->
          <div class="order-body-item-remove">
            <img src="assets/images/delete-forever.png" height="50">

          </div>


        </div>
      </li>
      <li >
        <!--        menu list item-->
        <div class="order-body-item">
          <!--          img-->
          <div class="order-body-item-img">
            <img src="assets/images/pizza--v1.png">
          </div>
          <!--          menu description-->
          <div class="order-body-item-name">
            <span>Pizza</span>
          </div>
          <!--          quantity-->
          <div class="order-body-item-quantity">
            <span>x1</span>
          </div>

          <!--              remove-->
          <div class="order-body-item-remove">
            <img src="assets/images/delete-forever.png" height="50">

          </div>


        </div>
      </li>
      <li >
        <!--        menu list item-->
        <div class="order-body-item">
          <!--          img-->
          <div class="order-body-item-img">
            <img src="assets/images/pizza--v1.png">
          </div>
          <!--          menu description-->
          <div class="order-body-item-name">
            <span>Pizza</span>
          </div>
          <!--          quantity-->
          <div class="order-body-item-quantity">
            <span>x1</span>
          </div>

          <!--              remove-->
          <div class="order-body-item-remove">
            <img src="assets/images/delete-forever.png" height="50">

          </div>


        </div>
      </li>
      <li >
        <!--        menu list item-->
        <div class="order-body-item">
          <!--          img-->
          <div class="order-body-item-img">
            <img src="assets/images/pizza--v1.png">
          </div>
          <!--          menu description-->
          <div class="order-body-item-name">
            <span>Pizza</span>
          </div>
          <!--          quantity-->
          <div class="order-body-item-quantity">
            <span>x1</span>
          </div>

          <!--              remove-->
          <div class="order-body-item-remove">
            <img src="assets/images/delete-forever.png" height="50">

          </div>


        </div>
      </li>
    </ul>
  </div>

  <!--      total price-->
  <div class="order-total-price">
    <!--        text-->
    <div class="order-total-price-text">
      <span>Total price:</span>
    </div>
    <!--        price-->
    <div class="order-total-price-sum">
      <span>0$</span>
    </div>
  </div>

</div>
