.order {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 73px;
}

.order-header {
  margin: 3px;
  color: #1C6758;
  font-weight: 700;
}

.order-body {
  flex: 1;
  overflow-y: auto;
  padding-right: 17px;
  margin-bottom: 10px;
}














