.order-wrap {
  height: 100vh;
}

.order {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 73px;
}

.order-header {
  margin: 3px;
}

.order-body {
  flex: 1;
  overflow-y: auto;
  padding-right: 17px;
  margin-bottom: 10px;
}

.order-body-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 3px solid #3D8361;
  border-radius: 30px;
}

.order-body-item-name {
  flex: 1;
  align-self: center;
}

.order-body-item-quantity {
  display: flex;
  align-items: center;
  padding: 10px;
}

.order-body-item-remove {
  align-self: center;
}
.order-body-item-remove:hover {
  cursor: pointer;
}

.order-total-price {
  position: absolute;
  bottom: 10px;
  right: 22px;
  display: flex;
  border: 3px solid #3D8361;
  border-radius: 30px;
}

.order-total-price-text {
  padding: 20px;
}

.order-total-price-sum {
  padding: 20px;
}
