
<div class="container">
  <div class="row">

    <!-- left column MENU   -->
    <div class="col-xl-6 col-md-12 col-sm-12 menu-wrap menu ">
      <div class="menu-header">
        <h2 class="text-center text-uppercase text-decoration-underline">Menu</h2>
      </div>

<!--  menu list-->
      <div class="menu-body">
        <ul >
          <li >
<!--        menu list item-->
            <div class="menu-item">
<!--          img-->
              <div class="menu-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
<!--          menu description-->
              <div class="menu-item-description">
                <span>Pizza</span><br><span>(Tomatoes, cheese, beacon, olives, olives)</span>
              </div>
              <!--          price-->
              <div class="menu-item-price">
                <span>5$</span>
              </div>

<!--              add and quantity block-->
              <div class="menu-item-add-quantity-block">
<!--                quantity-->
                <div class="menu-item-quantity">
                  <div class="menu-item-quantity-decrease">
                    -
                  </div>
                  <div class="menu-item-quantity-number">
                    1
                  </div>
                  <div class="menu-item-quantity-increase">
                    +
                  </div>
                </div>
                <!--          add button-->
                <div class="menu-item-add">
                  <button class="btn btn-success">Add</button>
                </div>

              </div>


            </div>
          </li>
          <li>
<!--        menu list item-->
            <div class="menu-item">
              <!--          img-->
              <div class="menu-item-img">
                <img src="assets/images/rice-bowl.png">
              </div>
              <!--          menu description-->
              <div class="menu-item-description">
                <span>Rice bowl</span><br><span>(home made noodle, smoked BBQ, green onions, shitake mushrooms, boiled egg)</span>
              </div>
              <!--          price-->
              <div class="menu-item-price">
                <span>9$</span>
              </div>
              <!--              add and quantity block-->
              <div class="menu-item-add-quantity-block">
                <!--                quantity-->
                <div class="menu-item-quantity">
                  <div class="menu-item-quantity-decrease">
                    <span>-</span>
                  </div>
                  <div class="menu-item-quantity-number">
                    <span>1</span>
                  </div>
                  <div class="menu-item-quantity-increase">
                    <span>+</span>
                  </div>
                </div>
                <!--          add button-->
                <div class="menu-item-add">
                  <button class="btn btn-success">Add</button>
                </div>

              </div>

            </div>
          </li>
          <li>
<!--        menu list item-->
            <div class="menu-item">
              <!--          img-->
              <div class="menu-item-img">
                <img src="assets/images/hamburger.png">
              </div>
              <!--          menu description-->
              <div class="menu-item-description">
                <span>Hamburger</span><br><span>(Pineapple, onion, tomato, beef, BBQ sauce)</span>
              </div>
              <!--          price-->
              <div class="menu-item-price">
                <span>9$</span>
              </div>
              <!--              add and quantity block-->
              <div class="menu-item-add-quantity-block">
                <!--                quantity-->
                <div class="menu-item-quantity">
                  <div class="menu-item-quantity-decrease">
                    <span>-</span>
                  </div>
                  <div class="menu-item-quantity-number">
                    <span>1</span>
                  </div>
                  <div class="menu-item-quantity-increase">
                    <span>+</span>
                  </div>
                </div>
                <!--          add button-->
                <div class="menu-item-add">
                  <button class="btn btn-success">Add</button>
                </div>

              </div>

            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="menu-item">
              <!--          img-->
              <div class="menu-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="menu-item-description">
                <span>Pizza</span><br><span>(Tomatoes, cheese, beacon, olives, olives)</span>
              </div>
              <!--          price-->
              <div class="menu-item-price">
                <span>5$</span>
              </div>

              <!--              add and quantity block-->
              <div class="menu-item-add-quantity-block">
                <!--                quantity-->
                <div class="menu-item-quantity">
                  <div class="menu-item-quantity-decrease">
                    -
                  </div>
                  <div class="menu-item-quantity-number">
                    1
                  </div>
                  <div class="menu-item-quantity-increase">
                    +
                  </div>
                </div>
                <!--          add button-->
                <div class="menu-item-add">
                  <button class="btn btn-success">Add</button>
                </div>

              </div>


            </div>
          </li>
          <li>
            <!--        menu list item-->
            <div class="menu-item">
              <!--          img-->
              <div class="menu-item-img">
                <img src="assets/images/rice-bowl.png">
              </div>
              <!--          menu description-->
              <div class="menu-item-description">
                <span>Rice bowl</span><br><span>(home made noodle, smoked BBQ, green onions, shitake mushrooms, boiled egg)</span>
              </div>
              <!--          price-->
              <div class="menu-item-price">
                <span>9$</span>
              </div>
              <!--              add and quantity block-->
              <div class="menu-item-add-quantity-block">
                <!--                quantity-->
                <div class="menu-item-quantity">
                  <div class="menu-item-quantity-decrease">
                    <span>-</span>
                  </div>
                  <div class="menu-item-quantity-number">
                    <span>1</span>
                  </div>
                  <div class="menu-item-quantity-increase">
                    <span>+</span>
                  </div>
                </div>
                <!--          add button-->
                <div class="menu-item-add">
                  <button class="btn btn-success">Add</button>
                </div>

              </div>

            </div>
          </li>
          <li>
            <!--        menu list item-->
            <div class="menu-item">
              <!--          img-->
              <div class="menu-item-img">
                <img src="assets/images/hamburger.png">
              </div>
              <!--          menu description-->
              <div class="menu-item-description">
                <span>Hamburger</span><br><span>(Pineapple, onion, tomato, beef, BBQ sauce)</span>
              </div>
              <!--          price-->
              <div class="menu-item-price">
                <span>9$</span>
              </div>
              <!--              add and quantity block-->
              <div class="menu-item-add-quantity-block">
                <!--                quantity-->
                <div class="menu-item-quantity">
                  <div class="menu-item-quantity-decrease">
                    <span>-</span>
                  </div>
                  <div class="menu-item-quantity-number">
                    <span>1</span>
                  </div>
                  <div class="menu-item-quantity-increase">
                    <span>+</span>
                  </div>
                </div>
                <!--          add button-->
                <div class="menu-item-add">
                  <button class="btn btn-success">Add</button>
                </div>

              </div>

            </div>
          </li>
          <li>
            <!--        menu list item-->
            <div class="menu-item">
              <!--          img-->
              <div class="menu-item-img">
                <img src="assets/images/rice-bowl.png">
              </div>
              <!--          menu description-->
              <div class="menu-item-description">
                <span>Rice bowl</span><br><span>(home made noodle, smoked BBQ, green onions, shitake mushrooms, boiled egg)</span>
              </div>
              <!--          price-->
              <div class="menu-item-price">
                <span>9$</span>
              </div>
              <!--              add and quantity block-->
              <div class="menu-item-add-quantity-block">
                <!--                quantity-->
                <div class="menu-item-quantity">
                  <div class="menu-item-quantity-decrease">
                    <span>-</span>
                  </div>
                  <div class="menu-item-quantity-number">
                    <span>1</span>
                  </div>
                  <div class="menu-item-quantity-increase">
                    <span>+</span>
                  </div>
                </div>
                <!--          add button-->
                <div class="menu-item-add">
                  <button class="btn btn-success">Add</button>
                </div>

              </div>

            </div>
          </li>
          <li>
            <!--        menu list item-->
            <div class="menu-item">
              <!--          img-->
              <div class="menu-item-img">
                <img src="assets/images/hamburger.png">
              </div>
              <!--          menu description-->
              <div class="menu-item-description">
                <span>Hamburger</span><br><span>(Pineapple, onion, tomato, beef, BBQ sauce)</span>
              </div>
              <!--          price-->
              <div class="menu-item-price">
                <span>9$</span>
              </div>
              <!--              add and quantity block-->
              <div class="menu-item-add-quantity-block">
                <!--                quantity-->
                <div class="menu-item-quantity">
                  <div class="menu-item-quantity-decrease">
                    <span>-</span>
                  </div>
                  <div class="menu-item-quantity-number">
                    <span>1</span>
                  </div>
                  <div class="menu-item-quantity-increase">
                    <span>+</span>
                  </div>
                </div>
                <!--          add button-->
                <div class="menu-item-add">
                  <button class="btn btn-success">Add</button>
                </div>

              </div>

            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="menu-item">
              <!--          img-->
              <div class="menu-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="menu-item-description">
                <span>Pizza</span><br><span>(Tomatoes, cheese, beacon, olives, olives)</span>
              </div>
              <!--          price-->
              <div class="menu-item-price">
                <span>5$</span>
              </div>
              <!--              add and quantity block-->
              <div class="menu-item-add-quantity-block">
                <!--                quantity-->
                <div class="menu-item-quantity">
                  <div class="menu-item-quantity-decrease">
                    <span>-</span>
                  </div>
                  <div class="menu-item-quantity-number">
                    <span>1</span>
                  </div>
                  <div class="menu-item-quantity-increase">
                    <span>+</span>
                  </div>
                </div>
                <!--          add button-->
                <div class="menu-item-add">
                  <button class="btn btn-success">Add</button>
                </div>

              </div>

            </div>
          </li>
        </ul>
      </div>

    </div>

    <!-- right column ORDER  -->
    <div class="col-xl-6 col-md-12 col-sm-12 menu-wrap order " >

<!--      order header-->
      <div class="order-header">
        <h2 class="text-center text-uppercase text-decoration-underline">order</h2>
      </div>

<!--      order body-->
      <div class="order-body">
<!--        order-body-->
        <ul >
          <li >
            <!--        menu list item-->
            <div class="order-body-item">
              <!--          img-->
              <div class="order-body-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="order-body-item-name">
                <span>Pizza</span>
              </div>
              <!--          quantity-->
              <div class="order-body-item-quantity">
                <span>x1</span>
              </div>

              <!--              remove-->
              <div class="order-body-item-remove">
                <img src="assets/images/delete-forever.png" height="50">

              </div>


            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="order-body-item">
              <!--          img-->
              <div class="order-body-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="order-body-item-name">
                <span>Pizza</span>
              </div>
              <!--          quantity-->
              <div class="order-body-item-quantity">
                <span>x1</span>
              </div>

              <!--              remove-->
              <div class="order-body-item-remove">
                <img src="assets/images/delete-forever.png" height="50">

              </div>


            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="order-body-item">
              <!--          img-->
              <div class="order-body-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="order-body-item-name">
                <span>Pizza</span>
              </div>
              <!--          quantity-->
              <div class="order-body-item-quantity">
                <span>x1</span>
              </div>

              <!--              remove-->
              <div class="order-body-item-remove">
                <img src="assets/images/delete-forever.png" height="50">

              </div>


            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="order-body-item">
              <!--          img-->
              <div class="order-body-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="order-body-item-name">
                <span>Pizza</span>
              </div>
              <!--          quantity-->
              <div class="order-body-item-quantity">
                <span>x1</span>
              </div>

              <!--              remove-->
              <div class="order-body-item-remove">
                <img src="assets/images/delete-forever.png" height="50">

              </div>


            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="order-body-item">
              <!--          img-->
              <div class="order-body-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="order-body-item-name">
                <span>Pizza</span>
              </div>
              <!--          quantity-->
              <div class="order-body-item-quantity">
                <span>x1</span>
              </div>

              <!--              remove-->
              <div class="order-body-item-remove">
                <img src="assets/images/delete-forever.png" height="50">

              </div>


            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="order-body-item">
              <!--          img-->
              <div class="order-body-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="order-body-item-name">
                <span>Pizza</span>
              </div>
              <!--          quantity-->
              <div class="order-body-item-quantity">
                <span>x1</span>
              </div>

              <!--              remove-->
              <div class="order-body-item-remove">
                <img src="assets/images/delete-forever.png" height="50">

              </div>


            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="order-body-item">
              <!--          img-->
              <div class="order-body-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="order-body-item-name">
                <span>Pizza</span>
              </div>
              <!--          quantity-->
              <div class="order-body-item-quantity">
                <span>x1</span>
              </div>

              <!--              remove-->
              <div class="order-body-item-remove">
                <img src="assets/images/delete-forever.png" height="50">

              </div>


            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="order-body-item">
              <!--          img-->
              <div class="order-body-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="order-body-item-name">
                <span>Pizza</span>
              </div>
              <!--          quantity-->
              <div class="order-body-item-quantity">
                <span>x1</span>
              </div>

              <!--              remove-->
              <div class="order-body-item-remove">
                <img src="assets/images/delete-forever.png" height="50">

              </div>


            </div>
          </li>
          <li >
            <!--        menu list item-->
            <div class="order-body-item">
              <!--          img-->
              <div class="order-body-item-img">
                <img src="assets/images/pizza--v1.png">
              </div>
              <!--          menu description-->
              <div class="order-body-item-name">
                <span>Pizza</span>
              </div>
              <!--          quantity-->
              <div class="order-body-item-quantity">
                <span>x1</span>
              </div>

              <!--              remove-->
              <div class="order-body-item-remove">
                <img src="assets/images/delete-forever.png" height="50">

              </div>


            </div>
          </li>
        </ul>
      </div>

      <!--      total price-->
      <div class="order-total-price">
        <!--        text-->
        <div class="order-total-price-text">
          <span>Total price:</span>
        </div>
        <!--        price-->
        <div class="order-total-price-sum">
          <span>0$</span>
        </div>
      </div>

    </div>

  </div>
</div>
