<div class="menu-item">
  <!--          img-->
  <div class="menu-item-img">
    <img [src]="menuItem.imgPath">
  </div>
  <!--          menu description-->
  <div [ngClass]="orderId || orderItemQuantity ? 'cooking-body-item-description' : 'menu-item-name'">
    <div *ngIf="orderId">
      <span class="id-order">#{{ orderId | orderId: 4}}</span>
      <br>
    </div>
    <span class="menu-item-name-title">{{ menuItem.name }}</span>
    <div *ngIf="!orderId && !orderItemQuantity">
      <br>
      <span class="menu-item-description">{{ menuItem.description }}</span>
    </div>
  </div>
  <!--          price-quantity-add button -->
  <div *ngIf="!orderId && !orderItemQuantity" class="menu-item-price">
      {{ menuItem.price }}$
    <!--                  quantity-->
    <div class="menu-item-add-quantity-block">
<!--                      quantity-->
      <app-quantity
        [quantity]="defaultQuantity"
        (changedQuantity)="onChangeQuantity($event)">
      </app-quantity>
<!--                add button-->
      <div>
        <button class="btn btn-success"
                (click)="onAdd()">Add</button>
      </div>
    </div>
  </div>

    <ng-content></ng-content>


</div>
