<div class="order-body-item">
  <!--          img-->
  <div class="order-body-item-img">
    <img [src]="orderItem.imgPath">
  </div>
  <!--          menu description-->
  <div class="order-body-item-name">
    <span>{{ orderItem.name }}</span>
  </div>
  <!--          quantity-->
  <div class="order-body-item-quantity">
    <span>x{{ quantity }}</span>
  </div>

  <div class="order-item-price">
    <span>{{ orderItem.price * quantity }}$</span>
  </div>

  <!--              remove-->
  <div class="order-body-item-remove">
    <img src="assets/images/delete-forever.png"
         height="50"
          (click)="onRemove()">
  </div>


</div>
